In [7]:
import pandas as pd
import numpy as np

In [8]:
import warnings
warnings.simplefilter("ignore")

In [9]:
df = pd.read_csv("train_imp.csv")

In [10]:
df.sample(4)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
43253,43253,Palak,Female,59.0,Varanasi,Working Professional,Teacher,NaN,2.0,NaN,NaN,5.0,5-6 hours,Healthy,BSc,Yes,10.0,5.0,Yes,0
27458,27458,Pratham,Male,28.0,Patna,Working Professional,Customer Support,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Healthy,BA,No,1.0,2.0,Yes,0
13351,13351,Zara,Female,52.0,Agra,Working Professional,Finanancial Analyst,NaN,5.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,M.Tech,No,5.0,2.0,No,0
88861,88861,Nikita,Female,39.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,4.0,More than 8 hours,Moderate,MCA,Yes,6.0,1.0,No,0

In [11]:
df = df.drop(columns = ['id' , 'Name'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140700 non-null  object
 1   Age                                    140700 non-null  float64
 2   City                                   140700 non-null  object
 3   Working Professional or Student        140700 non-null  object
 4   Profession                             104070 non-null  object
 5   Academic Pressure                      27897 non-null   float64
 6   Work Pressure                          112782 non-null  float64
 7   CGPA                                   27898 non-null   float64
 8   Study Satisfaction                     27897 non-null   float64
 9   Job Satisfaction                       112790 non-null  float64
 10  Sleep Duration                         140700 non-null  object
 11  Dietary Habits                         140696 non-null  object
 12  Degree                                 140698 non-null  object
 13  Have you ever had suicidal thoughts ?  140700 non-null  object
 14  Work/Study Hours                       140700 non-null  float64
 15  Financial Stress                       140696 non-null  float64
 16  Family History of Mental Illness       140700 non-null  object
 17  Depression                             140700 non-null  int64
dtypes: float64(8), int64(1), object(9)
memory usage: 19.3+ MB

In [13]:
df[df['Working Professional or Student'] == 'Working Professional']

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
3,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
5,Female,59.0,Ahmedabad,Working Professional,Finanancial Analyst,NaN,2.0,NaN,NaN,5.0,5-6 hours,Healthy,MCA,No,7.0,5.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140694,Female,45.0,Ahmedabad,Working Professional,Teacher,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,B.Ed,Yes,1.0,5.0,No,0
140695,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0

In [14]:
df.columns

Index(['Gender', 'Age', 'City', 'Working Professional or Student',
       'Profession', 'Academic Pressure', 'Work Pressure', 'CGPA',
       'Study Satisfaction', 'Job Satisfaction', 'Sleep Duration',
       'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?',
       'Work/Study Hours', 'Financial Stress',
       'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [15]:
df.loc[df['Working Professional or Student'] == 'Student', ['Profession', 'Work Pressure', 'Job Satisfaction']] = df.loc[df['Working Professional or Student'] == 'Student', ['Profession', 'Work Pressure', 'Job Satisfaction']].fillna('Not Applicable')
df.loc[df['Working Professional or Student'] == 'Working Professional', ['Academic Pressure', 'CGPA', 'Study Satisfaction']] = df.loc[df['Working Professional or Student'] == 'Working Professional', ['Academic Pressure', 'CGPA', 'Study Satisfaction']].fillna('Not Applicable')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140700 non-null  object
 1   Age                                    140700 non-null  float64
 2   City                                   140700 non-null  object
 3   Working Professional or Student        140700 non-null  object
 4   Profession                             131937 non-null  object
 5   Academic Pressure                      140691 non-null  object
 6   Work Pressure                          140680 non-null  object
 7   CGPA                                   140691 non-null  object
 8   Study Satisfaction                     140690 non-null  object
 9   Job Satisfaction                       140683 non-null  object
 10  Sleep Duration                         140700 non-null  object
 11  Dietary Habits                         140696 non-null  object
 12  Degree                                 140698 non-null  object
 13  Have you ever had suicidal thoughts ?  140700 non-null  object
 14  Work/Study Hours                       140700 non-null  float64
 15  Financial Stress                       140696 non-null  float64
 16  Family History of Mental Illness       140700 non-null  object
 17  Depression                             140700 non-null  int64
dtypes: float64(3), int64(1), object(14)
memory usage: 19.3+ MB

In [17]:
df[df['Profession'].isna() == True]['Degree'].value_counts()

Degree
Class 12    8590
B.Arch        13
B.Ed          11
MD            11
BHM           10
BCA           10
M.Com          8
MBA            8
MCA            8
BE             8
MA             7
LLB            7
BSc            7
B.Com          6
B.Tech         5
B.Pharm        5
MBBS           5
M.Ed           5
M.Pharm        5
MSc            5
ME             4
M.Tech         4
BBA            3
LLM            3
PhD            3
BA             2
MHM            2
LLBA           1
5.56           1
Degree         1
5.88           1
Navya          1
M              1
Name: count, dtype: int64

In [18]:
df[df['Profession'].isna() == True]['Working Professional or Student'].value_counts()

Working Professional or Student
Working Professional    8763
Name: count, dtype: int64

In [19]:
df[df['Profession'].isna() == True].sample(4)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
137765,Female,50.0,Nashik,Working Professional,NaN,Not Applicable,5.0,Not Applicable,Not Applicable,1.0,More than 8 hours,Unhealthy,Class 12,No,2.0,2.0,No,0
77586,Male,18.0,Ludhiana,Working Professional,NaN,Not Applicable,2.0,Not Applicable,Not Applicable,5.0,Less than 5 hours,Healthy,Class 12,Yes,11.0,5.0,Yes,1
122722,Female,21.0,Ghaziabad,Working Professional,NaN,Not Applicable,4.0,Not Applicable,Not Applicable,2.0,5-6 hours,Healthy,MA,Yes,12.0,3.0,No,1
83797,Male,40.0,Lucknow,Working Professional,NaN,Not Applicable,5.0,Not Applicable,Not Applicable,1.0,7-8 hours,Unhealthy,Class 12,No,0.0,5.0,No,1

In [20]:
df['Profession'].fillna('Unknown', inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140700 non-null  object
 1   Age                                    140700 non-null  float64
 2   City                                   140700 non-null  object
 3   Working Professional or Student        140700 non-null  object
 4   Profession                             140700 non-null  object
 5   Academic Pressure                      140691 non-null  object
 6   Work Pressure                          140680 non-null  object
 7   CGPA                                   140691 non-null  object
 8   Study Satisfaction                     140690 non-null  object
 9   Job Satisfaction                       140683 non-null  object
 10  Sleep Duration                         140700 non-null  object
 11  Dietary Habits                         140696 non-null  object
 12  Degree                                 140698 non-null  object
 13  Have you ever had suicidal thoughts ?  140700 non-null  object
 14  Work/Study Hours                       140700 non-null  float64
 15  Financial Stress                       140696 non-null  float64
 16  Family History of Mental Illness       140700 non-null  object
 17  Depression                             140700 non-null  int64
dtypes: float64(3), int64(1), object(14)
memory usage: 19.3+ MB

In [22]:
df = df.dropna()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140651 entries, 0 to 140699
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140651 non-null  object
 1   Age                                    140651 non-null  float64
 2   City                                   140651 non-null  object
 3   Working Professional or Student        140651 non-null  object
 4   Profession                             140651 non-null  object
 5   Academic Pressure                      140651 non-null  object
 6   Work Pressure                          140651 non-null  object
 7   CGPA                                   140651 non-null  object
 8   Study Satisfaction                     140651 non-null  object
 9   Job Satisfaction                       140651 non-null  object
 10  Sleep Duration                         140651 non-null  object
 11  Dietary Habits                         140651 non-null  object
 12  Degree                                 140651 non-null  object
 13  Have you ever had suicidal thoughts ?  140651 non-null  object
 14  Work/Study Hours                       140651 non-null  float64
 15  Financial Stress                       140651 non-null  float64
 16  Family History of Mental Illness       140651 non-null  object
 17  Depression                             140651 non-null  int64
dtypes: float64(3), int64(1), object(14)
memory usage: 20.4+ MB

In [24]:
df.sample(3)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
90007,Male,23.0,Visakhapatnam,Working Professional,Pharmacist,Not Applicable,4.0,Not Applicable,Not Applicable,2.0,5-6 hours,Unhealthy,B.Pharm,No,8.0,5.0,Yes,1
47978,Male,24.0,Faridabad,Student,Not Applicable,1.0,Not Applicable,7.37,5.0,Not Applicable,Less than 5 hours,Moderate,BHM,Yes,10.0,4.0,Yes,1
23097,Male,59.0,Indore,Working Professional,Educational Consultant,Not Applicable,3.0,Not Applicable,Not Applicable,1.0,7-8 hours,Moderate,B.Ed,No,1.0,3.0,No,0

In [25]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, chi2

In [26]:
df.duplicated().sum()

5

In [27]:
#

In [28]:
cols = [ 'Gender','City','Working Professional or Student','Profession','Sleep Duration','Dietary Habits','Degree','Have you ever had suicidal thoughts ?', 'Family History of Mental Illness']
for col in cols:
    df[col] = df[col].str.lower().str.strip()

In [29]:
df['Depression'].value_counts()

Depression
0    115107
1     25544
Name: count, dtype: int64

In [30]:
df.sample(3)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
46734,female,20.0,indore,student,not applicable,4.0,Not Applicable,8.04,1.0,Not Applicable,less than 5 hours,unhealthy,class 12,yes,12.0,5.0,yes,1
77737,female,36.0,rajkot,working professional,data scientist,Not Applicable,3.0,Not Applicable,Not Applicable,1.0,5-6 hours,moderate,be,yes,8.0,5.0,no,1
77665,female,53.0,chennai,working professional,customer support,Not Applicable,1.0,Not Applicable,Not Applicable,1.0,5-6 hours,moderate,ba,no,4.0,4.0,no,0

In [31]:
df['CGPA'].value_counts()

CGPA
Not Applicable    112769
8.04                 821
9.96                 425
5.74                 409
8.95                 371
                   ...
6.64                   1
7.0625                 1
6.98                   1
6.44                   1
6.09                   1
Name: count, Length: 332, dtype: int64

In [32]:
df['CGPA'].replace( 'Not Applicable' , 99999 , inplace=True)

In [33]:
df['Job Satisfaction'].value_counts()

Job Satisfaction
Not Applicable    27880
2.0               24778
5.0               22810
1.0               22320
3.0               21949
4.0               20914
Name: count, dtype: int64

In [34]:
df['Job Satisfaction'].replace( 'Not Applicable' , 99999 , inplace=True)

In [35]:
df['Study Satisfaction'].value_counts()

Study Satisfaction
Not Applicable    112769
4.0                 6358
2.0                 5837
3.0                 5819
1.0                 5448
5.0                 4420
Name: count, dtype: int64

In [36]:
df['Study Satisfaction'].replace( 'Not Applicable' ,99999 , inplace=True)

In [37]:
df['Work Pressure'].value_counts()

Work Pressure
Not Applicable    27882
2.0               24372
4.0               22510
5.0               22431
3.0               21896
1.0               21560
Name: count, dtype: int64

In [38]:
df['Work Pressure'].replace( 'Not Applicable' , 99999 , inplace=True)

In [39]:
df['Academic Pressure'].value_counts()

Academic Pressure
Not Applicable    112769
3.0                 7460
5.0                 6293
4.0                 5154
1.0                 4799
2.0                 4176
Name: count, dtype: int64

In [40]:
df['Academic Pressure'].replace( 'Not Applicable' , 99999 , inplace=True)

In [41]:
df['Profession'].value_counts()

Profession
not applicable       27848
teacher              24906
unknown               8737
content writer        7813
architect             4370
                     ...
dev                      1
be                       1
b.com                    1
family consultant        1
yuvraj                   1
Name: count, Length: 66, dtype: int64

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140651 entries, 0 to 140699
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140651 non-null  object
 1   Age                                    140651 non-null  float64
 2   City                                   140651 non-null  object
 3   Working Professional or Student        140651 non-null  object
 4   Profession                             140651 non-null  object
 5   Academic Pressure                      140651 non-null  float64
 6   Work Pressure                          140651 non-null  float64
 7   CGPA                                   140651 non-null  float64
 8   Study Satisfaction                     140651 non-null  float64
 9   Job Satisfaction                       140651 non-null  float64
 10  Sleep Duration                         140651 non-null  object
 11  Dietary Habits                         140651 non-null  object
 12  Degree                                 140651 non-null  object
 13  Have you ever had suicidal thoughts ?  140651 non-null  object
 14  Work/Study Hours                       140651 non-null  float64
 15  Financial Stress                       140651 non-null  float64
 16  Family History of Mental Illness       140651 non-null  object
 17  Depression                             140651 non-null  int64
dtypes: float64(8), int64(1), object(9)
memory usage: 20.4+ MB

In [43]:
df['Family History of Mental Illness'].value_counts()

Family History of Mental Illness
no     70729
yes    69922
Name: count, dtype: int64

In [44]:
df['Financial Stress'].value_counts()

Financial Stress
2.0    31447
5.0    28267
4.0    27758
1.0    27202
3.0    25977
Name: count, dtype: int64

In [45]:
df['Dietary Habits'].value_counts()

Dietary Habits
moderate             49684
unhealthy            46214
healthy              44730
yes                      2
no                       2
more healthy             2
no healthy               1
class 12                 1
indoor                   1
male                     1
vegas                    1
m.tech                   1
less healthy             1
1.0                      1
electrician              1
hormonal                 1
mihir                    1
less than healthy        1
3                        1
gender                   1
bsc                      1
pratham                  1
2                        1
Name: count, dtype: int64

In [46]:
import re

dietary_mapping = {
    'healthy': 'healthy',
    'more healthy': 'healthy',

    'moderate': 'moderate',

    'unhealthy': 'unhealthy',
    'less healthy': 'unhealthy',
    'no healthy': 'unhealthy',
    'less than healthy': 'unhealthy'
}

def clean_dietary_habits(value):
    if isinstance(value, str):
        value = value.lower().strip()
        if value in dietary_mapping:
            return dietary_mapping[value]
    return 'unknown'
    
df['Dietary Habits'] = df['Dietary Habits'].apply(clean_dietary_habits)

In [47]:
df['Degree'].value_counts()

Degree
class 12    14701
b.ed        11688
b.arch       8741
b.com        8112
b.pharm      5855
            ...
vivaan          1
mtech           1
29              1
llcom           1
advait          1
Name: count, Length: 115, dtype: int64

In [48]:
degree_counts = df['Degree'].value_counts()
valid_degrees = degree_counts[degree_counts >= 5].index
df = df[df['Degree'].isin(valid_degrees)]

In [49]:
df['Work/Study Hours'].value_counts()

Work/Study Hours
10.0    14183
11.0    12816
9.0     12701
0.0     12052
12.0    11396
2.0     10579
6.0     10423
7.0      9861
1.0      9790
3.0      9461
5.0      9326
4.0      9056
8.0      8898
Name: count, dtype: int64

In [50]:
df['Sleep Duration'].value_counts()

Sleep Duration
less than 5 hours    38742
7-8 hours            36931
more than 8 hours    32690
5-6 hours            32100
3-4 hours               12
6-7 hours                8
4-5 hours                7
2-3 hours                5
4-6 hours                5
6-8 hours                4
1-6 hours                4
no                       4
9-11 hours               2
10-11 hours              2
sleep_duration           2
unhealthy                2
45                       2
8-9 hours                2
10-6 hours               1
9-5                      1
45-48 hours              1
3-6 hours                1
work_study_hours         1
49 hours                 1
than 5 hours             1
pune                     1
9-6 hours                1
8 hours                  1
35-36 hours              1
indore                   1
1-3 hours                1
55-66 hours              1
moderate                 1
40-45 hours              1
1-2 hours                1
9-5 hours                1
Name: count, dtype: int64

In [51]:
import re

mapping = {
    'less than 5 hours': 'less than 5 hours',
    '3-4 hours': 'less than 5 hours',
    '2-3 hours': 'less than 5 hours',
    '1-3 hours': 'less than 5 hours',
    '1-2 hours': 'less than 5 hours',

    '5-6 hours': '5-6 hours',
    '4-5 hours': '5-6 hours',
    '4-6 hours': '5-6 hours',

    '6-8 hours': '6-8 hours',
    '6-7 hours': '6-8 hours',
    '7-8 hours': '6-8 hours',

    'more than 8 hours': 'more than 8 hours',
    '8-9 hours': 'more than 8 hours',
    '9-11 hours': 'more than 8 hours',
    '10-11 hours': 'more than 8 hours'
}

def clean_sleep_duration(value):
    if isinstance(value, str):
        value = value.lower().strip()
        if value in mapping:
            return mapping[value]
        elif re.match(r'^\d+(-\d+)?\s*hours$', value):
            return '6-8 hours'
    return 'unknown'

df['Sleep Duration'] = df['Sleep Duration'].apply(clean_sleep_duration)

In [52]:
df['Sleep Duration'].unique()

array(['more than 8 hours', 'less than 5 hours', '5-6 hours', '6-8 hours',
       'unknown'], dtype=object)

In [53]:
df['Sleep Duration'].value_counts()

Sleep Duration
less than 5 hours    38761
6-8 hours            36957
more than 8 hours    32696
5-6 hours            32112
unknown                 16
Name: count, dtype: int64

In [54]:
df = df[df['Sleep Duration'] != 'unknown']

In [55]:
df['Degree'].unique()

array(['bhm', 'llb', 'b.pharm', 'bba', 'mca', 'md', 'bsc', 'me', 'b.arch',
       'bca', 'be', 'ma', 'b.ed', 'b.com', 'mba', 'm.com', 'mhm', 'ba',
       'class 12', 'm.tech', 'phd', 'm.ed', 'msc', 'b.tech', 'llm',
       'mbbs', 'm.pharm', 'm.arch'], dtype=object)

In [56]:
df.sample(3)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
40112,female,45.0,delhi,working professional,business analyst,99999.0,2.0,99999.00,99999.0,5.0,less than 5 hours,healthy,m.tech,yes,0.0,1.0,yes,0
18324,female,28.0,nashik,student,not applicable,5.0,99999.0,8.96,1.0,99999.0,less than 5 hours,moderate,b.tech,yes,8.0,3.0,no,1
22423,female,25.0,nagpur,student,not applicable,5.0,99999.0,5.67,1.0,99999.0,6-8 hours,unhealthy,b.ed,yes,10.0,5.0,yes,1

In [57]:
df['Dietary Habits'].value_counts()

Dietary Habits
moderate     49639
unhealthy    46170
healthy      44699
unknown         18
Name: count, dtype: int64

In [58]:
df['Dietary Habits'].unique()

array(['healthy', 'unhealthy', 'moderate', 'unknown'], dtype=object)

In [59]:
df = df[df['Dietary Habits'] != 'unknown']

In [60]:
df['Gender'] = df['Gender'].map({'male': 1, 'female': 0})
df['Working Professional or Student'] = df['Working Professional or Student'].map({'working professional': 1, 'student': 0})
df['Family History of Mental Illness'] = df['Family History of Mental Illness'].map({'yes': 1, 'no': 0})
df['Have you ever had suicidal thoughts ?'] = df['Have you ever had suicidal thoughts ?'].map({'yes': 1, 'no': 0})

In [61]:
df['Dietary Habits'] = df['Dietary Habits'].map({'healthy': 3, 'unhealthy' : 1, 'moderate' : 2})

In [62]:
df['Sleep Duration'] = df['Sleep Duration'].map({'more than 8 hours' :4 , 'less than 5 hours' : 1, '5-6 hours' : 2, '6-8 hours' : 3})

In [63]:
df.sample(6)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
70209,1,46.0,ludhiana,1,teacher,99999.0,1.0,99999.00,99999.0,4.0,1,2,b.com,1,9.0,4.0,0,0
24249,0,54.0,visakhapatnam,1,teacher,99999.0,1.0,99999.00,99999.0,3.0,3,3,b.ed,1,0.0,2.0,0,0
63565,0,34.0,vadodara,0,not applicable,2.0,99999.0,5.08,2.0,99999.0,3,3,md,0,1.0,5.0,1,0
129174,0,54.0,varanasi,1,architect,99999.0,4.0,99999.00,99999.0,4.0,1,2,mca,1,12.0,1.0,1,0
24691,1,24.0,agra,0,not applicable,1.0,99999.0,7.85,3.0,99999.0,4,2,m.tech,1,6.0,1.0,1,0
82735,1,42.0,thane,1,content writer,99999.0,4.0,99999.00,99999.0,1.0,4,2,bca,0,7.0,2.0,0,0

In [64]:
pd.options.display.max_rows = None
df['City'].value_counts()

City
kalyan                6586
patna                 5917
vasai-virar           5755
kolkata               5679
ahmedabad             5604
meerut                5521
ludhiana              5223
pune                  5205
rajkot                5201
visakhapatnam         5173
srinagar              5061
mumbai                4959
indore                4865
agra                  4678
surat                 4631
varanasi              4598
vadodara              4559
hyderabad             4488
kanpur                4394
jaipur                4322
thane                 4282
lucknow               4273
nagpur                4202
bangalore             4121
chennai               4041
ghaziabad             3614
delhi                 3591
bhopal                3467
faridabad             3261
nashik                3140
mihir                    7
nandini                  4
saanvi                   3
city                     3
pratyush                 3
harsha                   3
bhavna                   3
mahi                     3
vidya                    3
mca                      2
atharv                   2
m.com                    2
molkata                  2
nalini                   2
keshav                   2
ayush                    2
tushar                   1
msc                      1
parth                    1
chhavi                   1
vaishnavi                1
kibara                   1
no                       1
rashi                    1
kashish                  1
me                       1
itheg                    1
researcher               1
kagan                    1
armaan                   1
ithal                    1
nalyan                   1
dhruv                    1
galesabad                1
harsh                    1
aaradhya                 1
pooja                    1
khushi                   1
khaziabad                1
reyansh                  1
plata                    1
gaurav                   1
vaanya                   1
ishanabad                1
vidhi                    1
gurgaon                  1
krishna                  1
aishwarya                1
aditya                   1
malyansh                 1
raghavendra              1
m.tech                   1
less delhi               1
3.0                      1
less than 5 kalyan       1
mira                     1
moreadhyay               1
morena                   1
ishkarsh                 1
kashk                    1
tolkata                  1
anvi                     1
krinda                   1
ayansh                   1
shrey                    1
ivaan                    1
jhanvi                   1
Name: count, dtype: int64

In [65]:
city_counts = df['City'].value_counts()
valid_cities = city_counts[city_counts >= 8].index
df = df[df['City'].isin(valid_cities)]

In [66]:
city_mapping = {
    'kalyan': 1,
    'patna': 2,
    'vasai-virar': 3,
    'kolkata': 4,
    'ahmedabad': 5,
    'meerut': 6,
    'ludhiana': 7,
    'pune': 8,
    'rajkot': 9,
    'visakhapatnam': 10,
    'srinagar': 11,
    'mumbai': 12,
    'indore': 13,
    'agra': 14,
    'surat': 15,
    'varanasi': 16,
    'vadodara': 17,
    'hyderabad': 18,
    'kanpur': 19,
    'jaipur': 20,
    'thane': 21,
    'lucknow': 22,
    'nagpur': 23,
    'bangalore': 24,
    'chennai': 25,
    'ghaziabad': 26,
    'delhi': 27,
    'bhopal': 28,
    'faridabad': 29,
    'nashik': 30
}

df['City'] = df['City'].map(city_mapping)

In [67]:
df['Profession'].value_counts()

Profession
not applicable            27777
teacher                   24878
unknown                    8729
content writer             7808
architect                  4363
consultant                 4220
hr manager                 4012
pharmacist                 3885
doctor                     3251
business analyst           3155
entrepreneur               2962
chemist                    2959
chef                       2861
educational consultant     2846
data scientist             2387
researcher                 2321
lawyer                     2209
customer support           2053
marketing manager          1975
pilot                      1911
travel consultant          1859
plumber                    1741
sales executive            1736
manager                    1733
judge                      1710
electrician                1581
financial analyst          1569
software engineer          1509
civil engineer             1462
ux/ui designer             1449
digital marketer           1369
accountant                 1338
finanancial analyst        1327
mechanical engineer        1175
graphic designer           1159
research analyst            690
investment banker           393
student                       7
academic                      5
bca                           3
unemployed                    3
yogesh                        3
profession                    3
phd                           2
mba                           2
llm                           2
analyst                       1
nagpur                        1
moderate                      1
m.ed                          1
family consultant             1
pranav                        1
patna                         1
visakhapatnam                 1
b.ed                          1
bba                           1
mbbs                          1
working professional          1
medical doctor                1
b.com                         1
city manager                  1
familyvirar                   1
dev                           1
be                            1
yuvraj                        1
Name: count, dtype: int64

In [68]:
unknown_values = [
    'academic', 'bca', 'yogesh', 'profession', 'phd', 'mba', 'llm', 'nagpur',
    'moderate', 'm.ed', 'pranav', 'patna', 'visakhapatnam', 'b.ed', 'bba', 
    'mbbs', 'working professional', 'medical doctor', 'b.com', 'city manager', 
    'familyvirar', 'dev', 'be', 'yuvraj'
]

df['Profession'] = df['Profession'].apply(lambda x: 'unknown' if x in unknown_values else x)

In [69]:
df['Profession'] = df['Profession'].replace('not applicable' , 'student')

In [70]:
profession_mapping = {
    'student': 1,
    'teacher': 2,
    'unknown': 3,
    'content writer': 4,
    'architect': 5,
    'consultant': 6,
    'hr manager': 7,
    'pharmacist': 8,
    'doctor': 9,
    'business analyst': 10,
    'entrepreneur': 11,
    'chemist': 12,
    'chef': 13,
    'educational consultant': 14,
    'data scientist': 15,
    'researcher': 16,
    'lawyer': 17,
    'customer support': 18,
    'marketing manager': 19,
    'pilot': 20,
    'travel consultant': 21,
    'plumber': 22,
    'sales executive': 23,
    'manager': 24,
    'judge': 25,
    'electrician': 26,
    'financial analyst': 27,
    'software engineer': 28,
    'civil engineer': 29,
    'ux/ui designer': 30,
    'digital marketer': 31,
    'accountant': 32,
    'finanancial analyst': 33,
    'mechanical engineer': 34,
    'graphic designer': 35,
    'research analyst': 36,
    'investment banker': 37,
    'unemployed': 38,
    'family consultant': 39,
    'analyst': 40
}

df['Profession'] = df['Profession'].map(profession_mapping)

In [71]:
df['Degree'].value_counts()

Degree
class 12    14694
b.ed        11683
b.arch       8734
b.com        8107
b.pharm      5848
bca          5729
m.ed         5661
mca          5224
bba          5027
bsc          5018
msc          4872
llm          4645
m.pharm      4534
m.tech       4472
b.tech       4423
llb          4341
bhm          4299
mba          3812
ba           3744
me           3626
md           3377
mhm          3285
phd          3100
be           3099
m.com        3091
mbbs         3077
ma           2884
m.arch          5
Name: count, dtype: int64

In [72]:
degree_mapping = {
    "class 12": 1, "b.ed": 2, "b.arch": 3, "b.com": 4, "b.pharm": 5, "bca": 6, 
    "m.ed": 7, "mca": 8, "bba": 9, "bsc": 10, "msc": 11, "llm": 12, 
    "m.pharm": 13, "m.tech": 14, "b.tech": 15, "llb": 16, "bhm": 17, 
    "mba": 18, "ba": 19, "me": 20, "md": 21, "mhm": 22, "phd": 23, 
    "be": 24, "m.com": 25, "mbbs": 26, "ma": 27, "m.arch": 28
}

df['Degree'] = df['Degree'].map(degree_mapping)

In [73]:
pd.options.display.max_rows = 10

In [74]:
df.sample(3)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
109576,0,31.0,1,0,1,3.0,99999.0,5.1,2.0,99999.0,4,3,17,0,0.0,2.0,1,1
61920,1,46.0,10,1,34,99999.0,1.0,99999.0,99999.0,5.0,1,2,15,0,4.0,3.0,0,0
131888,0,50.0,12,1,32,99999.0,2.0,99999.0,99999.0,1.0,3,1,4,1,6.0,5.0,0,0

In [75]:
df1 = df.copy()

In [76]:
df1.replace(99999, np.nan, inplace=True)

In [194]:
columns_to_fill = ['Academic Pressure', 'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction']  
df1[columns_to_fill] = df1[columns_to_fill].apply(lambda col: col.fillna(col.median()))

In [77]:
df1.sample(4)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
100069,1,30.0,1,1,4,NaN,1.0,NaN,NaN,4.0,3,3,2,1,10.0,2.0,0,0
41408,1,20.0,9,1,3,NaN,2.0,NaN,NaN,5.0,1,1,1,0,4.0,2.0,0,0
117094,1,30.0,14,0,1,2.0,NaN,5.84,4.0,NaN,3,2,11,1,10.0,5.0,1,1
85888,1,19.0,5,0,1,2.0,NaN,8.81,4.0,NaN,3,1,1,1,10.0,4.0,1,1

In [78]:
X = df1.drop('Depression', axis=1)
y = df1['Depression']

In [207]:
scaler = StandardScaler()

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score
import xgboost as xgb

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = xgb.XGBClassifier(
    objective='binary:logistic',
    booster='gbtree',
    learning_rate=0.1,
    n_estimators=1000,
    max_depth=3,
    min_child_weight=1,
    gamma=0,
    subsample=0.7,
    colsample_bytree=0.7,
    reg_alpha=0,
    reg_lambda=1,
    random_state=42,
    use_label_encoder=False,
    eval_metric='logloss'
)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(f'Accuracy: {accuracy:.4f}')
print(f'F1 Score: {f1:.4f}')

Accuracy: 0.9412
F1 Score: 0.8368

In [209]:
X_train.shape

(112328, 17)

In [210]:
X_test.shape

(28083, 17)

In [211]:
df.to_csv("final_99999.csv")

In [81]:
df1.to_csv("final_null.csv")

In [213]:
df.shape

(140411, 18)

In [214]:
df1.shape

(140411, 18)

In [83]:
df1.sample(5)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
33344,1,30.0,15,0,1,5.0,NaN,5.37,1.0,NaN,1,1,15,1,12.0,4.0,0,1
48055,0,36.0,13,1,30,NaN,5.0,NaN,NaN,5.0,1,1,6,0,1.0,2.0,1,0
90581,1,37.0,1,1,2,NaN,3.0,NaN,NaN,3.0,3,2,3,0,3.0,5.0,0,0
71047,1,57.0,19,1,3,NaN,1.0,NaN,NaN,1.0,4,3,1,0,4.0,3.0,1,0
69117,1,23.0,14,0,1,1.0,NaN,7.03,1.0,NaN,4,3,18,0,8.0,3.0,1,0

In [84]:
df_student = df1[df1['Working Professional or Student'] == 0]

In [87]:
df_student = df_student.drop(columns= ['Work Pressure','Job Satisfaction' , 'Profession'])

In [93]:
df_student.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27811 entries, 2 to 140699
Data columns (total 14 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 27811 non-null  int64
 1   Age                                    27811 non-null  float64
 2   City                                   27811 non-null  int64
 3   Academic Pressure                      27811 non-null  float64
 4   CGPA                                   27811 non-null  float64
 5   Study Satisfaction                     27811 non-null  float64
 6   Sleep Duration                         27811 non-null  int64
 7   Dietary Habits                         27811 non-null  int64
 8   Degree                                 27811 non-null  int64
 9   Have you ever had suicidal thoughts ?  27811 non-null  int64
 10  Work/Study Hours                       27811 non-null  float64
 11  Financial Stress                       27811 non-null  float64
 12  Family History of Mental Illness       27811 non-null  int64
 13  Depression                             27811 non-null  int64
dtypes: float64(6), int64(8)
memory usage: 3.2 MB

In [89]:
df_professional = df1[df1['Working Professional or Student'] == 1].drop(columns = ['Academic Pressure','CGPA' , 'Study Satisfaction'])

In [92]:
df_professional.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112600 entries, 0 to 140698
Data columns (total 14 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 112600 non-null  int64
 1   Age                                    112600 non-null  float64
 2   City                                   112600 non-null  int64
 3   Profession                             112600 non-null  int64
 4   Work Pressure                          112600 non-null  float64
 5   Job Satisfaction                       112600 non-null  float64
 6   Sleep Duration                         112600 non-null  int64
 7   Dietary Habits                         112600 non-null  int64
 8   Degree                                 112600 non-null  int64
 9   Have you ever had suicidal thoughts ?  112600 non-null  int64
 10  Work/Study Hours                       112600 non-null  float64
 11  Financial Stress                       112600 non-null  float64
 12  Family History of Mental Illness       112600 non-null  int64
 13  Depression                             112600 non-null  int64
dtypes: float64(5), int64(9)
memory usage: 12.9 MB

In [91]:
df_professional = df_professional.drop(columns=['Working Professional or Student'])
df_student = df_student.drop(columns=['Working Professional or Student'])

In [94]:
df_student.duplicated().sum()

0

In [95]:
df_professional.duplicated().sum()

5

In [96]:
df_professional.drop_duplicates(inplace=True)

In [97]:
df_student.to_csv("student_mental.csv")
df_professional.to_csv("professional_mental.csv")